.update {
  position: absolute;
  width:225px;
  height:90px;
  margin-left:5px;
  margin-top:5px;
  margin-right:5px;
  margin-bottom:5px;
  clip : auto;
}

.update0 {
  position: absolute;
  width:225px;
  height:90px;
  margin-left:5px;
  margin-top:5px;
  margin-right:5px;
  margin-bottom:5px;
  clip : auto;

  color: #FFFFFF;
  background-color: #66ccff;
  border-top:3px solid #3399dd;
  border-bottom:3px  solid #3399dd;
  border-left:3px  solid #3399dd;
  border-right:3px  solid #3399dd;
}

.update1 {
  position: absolute;
  width:225px;
  height:90px;
  margin-left:5px;
  margin-top:5px;
  margin-right:5px;
  margin-bottom:5px;
  clip : auto;

  color: #FFFFFF;
  background-color: #990000;
  border-top:3px solid #660000;
  border-bottom:3px  solid #660000;
  border-left:3px  solid #660000;
  border-right:3px  solid #660000;
}

.update2 {
  position: absolute;
  width:225px;
  height:90px;
  margin-left:5px;
  margin-top:5px;
  margin-right:5px;
  margin-bottom:5px;
  clip : auto;

  color: #FFFFFF;
  background-color: #009900;
  border-top:3px solid #006600;
  border-bottom:3px  solid #006600;
  border-left:3px  solid #006600;
  border-right:3px  solid #006600;
}

.update3 {
  position: absolute;
  width:225px;
  height:90px;
  margin-left:5px;
  margin-top:5px;
  margin-right:5px;
  margin-bottom:5px;
  clip : auto;

  color: #000000;
  background-color: #ffcc00;
  border-top:3px solid #eeaa00;
  border-bottom:3px  solid #eeaa00;
  border-left:3px  solid #eeaa00;
  border-right:3px  solid #eeaa00;
}

.updatep {
  margin-left: 90px;
  margin-bottom:5px;
  margin-top:5px;
  margin-right:5px;
  font-size: 14px;
}
.updateimg {
  float: left;
  margin-left:5px;
  margin-top:5px;
  margin-bottom:5px;
  vertical-align: middle;
}

body {
  /* fallback */
  background-color: #aaaaaa;
  background-position: 50% 50%;
  background-repeat: no-repeat;

  /* Firefox 3.6+ */
  /* -moz-radial-gradient( [<position> || <angle>,]? [<shape> || <size>,]? <stop>, <stop>[, <stop>]* ) */
  background: -moz-radial-gradient(50% 50%, closest-corner, #1a82f7, #2F2727);

  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 100, from(#1a82f7), to(#2F2727));

  /* Safari 5.1+, Chrome 10+ */
  background: -webkit-radial-gradient(50% 50%, closest-corner, #1a82f7, #2F2727);

  /* Opera cannot do radial gradients yet */
}

.closeTag {
  position: absolute;
  top: 0px;
  right: 0px;
  visibility: hidden;
}

.logo {
background: url('http://static02.linkedin.com/scds/common/u/img/sprite/sprite_global_v5.png') no-repeat;
display: block;
height: 22px;
width: 100px;
text-indent: -12345px;
  margin-left: 10px;
  margin-top: 10px;
}

.topleftwash {
  position: absolute;
  left:0px;
  top:0px;
  width: 100%;
  height: 40px;

  /* fallback */
  background-color: #FFFFFF;
  background-position: 50% 50%;
  background-repeat: no-repeat;

  background: -moz-linear-gradient(0deg, #1a82f7, #FFFFFF);
  background: -webkit-gradient(linear, right middle, left middle, from(#1a82f7), to(#FFFFFF));
  /* Firefox 3.6+ */
  /* -moz-radial-gradient( [<position> || <angle>,]? [<shape> || <size>,]? <stop>, <stop>[, <stop>]* ) */

  /* Opera cannot do radial gradients yet */
}
