.updateBase {
  position: absolute;
  width:225px;
  height:90px;
  margin-left:5px;
  margin-top:5px;
  margin-right:5px;
  margin-bottom:5px;
  clip : auto;
  color: #FFFFFF;
}

.updateFacetNameBase {
	font-size: 26px;
	font-family: "Century Gothic", "lucida grande", arial;
  width: 225px;
  clip: rect(0px, 225px, 90px, 0px);
  overflow: hidden;
}

.update0 {
  background-color: #9E5660;
}
.updateFacetName0 {
  color: #9E5660;
}

.update1 {
  background-color: #00A1AE;
}
.updateFacetName1 {
  color: #00A1AE;
}

.update2 {
  background-color: #779122;
}
.updateFacetName2 {
  color: #779122;
}

.update3 {
  background-color: #988C7E;
}
.updateFacetName3 {
  color: #988C7E;
}

.update4 {
  background-color: #ED712B;
}
.updateFacetName4 {
  color: #ED712B;
}

.update5 {
  background-color: #3399CC;
}
.updateFacetName5 {
  color: #3399CC;
}

.updatep {
  height: 70px;
	margin-left: 87px;
	margin-bottom:13px;
	margin-top:10px;
	margin-right:13px;
	font-size: 13px;
	font-family: "Century Gothic", "lucida grande", arial;
}
.updatepni {
  width: 200px;
	margin-left: 10px;
	margin-bottom:10px;
	margin-top:10px;
	margin-right:10px;
  text-align: center;
  vertical-align: middle;
	font-size: 13px;
	font-family: "Century Gothic", "lucida grande", arial;
}
.updateimg {
  float: left;
  margin-left:5px;
  margin-top:8px;
  margin-bottom:5px;
  vertical-align: middle;
  width:75px;
}

.divfn {
  position: absolute;
  top: 70px;
}

body {
  /* fallback */
  background-color: #333333;
  background-position: 50% 50%;
  background-repeat: no-repeat;

  /* Firefox 3.6+ */
  /* -moz-radial-gradient( [<position> || <angle>,]? [<shape> || <size>,]? <stop>, <stop>[, <stop>]* ) */
  background: -moz-radial-gradient(50% 50%, closest-corner, #666666, #333333);

  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 100, from(#666666), to(#333333));

  /* Safari 5.1+, Chrome 10+ */
  background: -webkit-radial-gradient(50% 50%, closest-corner, #666666, #333333);

  /* Opera cannot do radial gradients yet */
}

.closeTag {
  position: absolute;
  top: 0px;
  right: 0px;
  visibility: hidden;
}

.logo {
background: url('logo.png') no-repeat;
display: block;
height: 22px;
width: 100px;
text-indent: -12345px;
  margin-left: 10px;
  margin-top: 10px;
}

.topleftwash {
  position: absolute;
  left:0px;
  top:0px;
  width: 100%;
  height: 40px;

  /* fallback */
  background-color: #333333;
  background-position: 50% 50%;
  background-repeat: no-repeat;

  background: -moz-linear-gradient(0deg, #333333, #666666);
  background: -webkit-gradient(linear, right, left, from(#333333), to(#666666));
  /* Firefox 3.6+ */
  /* -moz-radial-gradient( [<position> || <angle>,]? [<shape> || <size>,]? <stop>, <stop>[, <stop>]* ) */

  /* Opera cannot do radial gradients yet */
}

.header {
  position: absolute;
  margin-left: 0px;
  margin-top: 0px;
  top: 0px;
  height: 40px;
  left: 0px;
  overflow: hidden;
}

.footer {
  overflow: hidden;
  position: absolute;
  margin-left: 0px;
  margin-bottom: 0px;
  left: 0px;
  bottom: 0px;
}

.button_text {
  color: #FFFFFF;
  font-size: 26;
  z-index: 999;
  top: -25px;
  position: absolute;
  font-family: "Century Gothic", "lucida grande", arial;
}

.industry {
  left: 200px;
}

.company {
  left: 350px;
}

.source {
  left: 515px;
}

.location {
  left: 650px;
}
